{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
        <!-- The problem with this hardcoded, tightly-coupled approach is that it becomes challenging to change URLs on projects with a lot of templates. -->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>

        <!-- The way this works is by looking up the URL definition as specified in the polls.urls module. -->
        <!-- If you want to change the URL of the polls detail view to something else, perhaps to something like polls/specifics/12/ instead of doing it in the template (or templates) you would change it in polls/urls.py -->
        
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}